<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post">
    <table>
        <tr>
            <td>{{ s.s_id.g_name }}</td>
            <td><input type="text" name="g_name"></td>
        </tr>
        <tr>
            <td>{{ s.s_name }}</td>
            <td><input type="text" name="s_name"></td>
        </tr>
        <tr>
            <td>{{ s.age }}</td>
            <td><input type="text" name="age"></td>
        </tr>
        <tr>
            <td>{{ s.sex }}</td>
            <td><input type="text" name="sex"></td>
        </tr>
        <tr>
            <td>{{ s.address }}</td>
            <td><input type="text" name="address"></td>
        </tr>
        <tr>
            <td>{{ s.phone }}</td>
            <td><input type="text" name="phone"></td>
        </tr>
        <tr>
            <td><button>提交</button></td>
        </tr>
    </table>
</form>
</body>
</html>